**/.DS_Store
**/.idea/
*.dylib
*.exe
*.pyc
*.pyo
*.so
*.swp
/.cache/
/.env
/.mypy_cache/
/.pytest_cache/
/.python-version
/.tox/
/.venv-install/
/.venv/
/__pycache__/
/build/
/dist/
/MANIFEST
/pyginx.egg-info/
